#container{
    width: 950px;
    margin: 0px auto;
    padding: 20px;
}
h1{
    text-align: center;
}

.top{
    height: 225px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
}
.middle{
    height: 225px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:darkslategrey;
}
.bottom{
    height: 225px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:goldenrod;
}
p{
    text-align: center;
}
